remote.X/nbproject/**
remote.X/dist/**
remote.X/build/**
remote.X/debug/**
remote.X/build/default/production/lcd.p1
*.p1
remote.X/build/default/production/main.p1
*.p1
remote.X/build/default/debug/lcd.p1
remote.X/dist/default/production/remote.X.production.sym
remote.X/dist/default/production/remote.X.production.sdb
remote.X/dist/default/production/remote.X.production.rlf
*.pre
*.xml
*.obj
remote.X/dist/default/production/remote.X.production.mum
remote.X/dist/default/production/remote.X.production.map
*.lst
*.cmf
*.elf
*.hex
*.hxl
